# Data files and directories common in repo root
Mask_RCNN/datasets/
Mask_RCNN/logs/
Mask_RCNN/*.h5
Mask_RCNN/results/
Mask_RCNN/temp/
Mask_RCNN/test/

# Byte-compiled / optimized / DLL files
Mask_RCNN/__pycache__/
Mask_RCNN/*.py[cod]
Mask_RCNN/*$py.class

# Distribution / packaging
Mask_RCNN/.Python
Mask_RCNN/env/
Mask_RCNN/build/
Mask_RCNN/develop-eggs/
Mask_RCNN/dist/
Mask_RCNN/downloads/
Mask_RCNN/eggs/
Mask_RCNN/.eggs/
Mask_RCNN/lib/
Mask_RCNN/lib64/
Mask_RCNN/parts/
Mask_RCNN/sdist/
Mask_RCNN/var/
Mask_RCNN/wheels/
Mask_RCNN/*.egg-info/
Mask_RCNN/.installed.cfg
Mask_RCNN/*.egg

# Installer logs
Mask_RCNN/pip-log.txt
Mask_RCNN/pip-delete-this-directory.txt

# VS Studio Code
Mask_RCNN/.vscode

# PyCharm
Mask_RCNN/.idea/

# Dropbox
Mask_RCNN/.dropbox.attr

# Jupyter Notebook
Mask_RCNN/.ipynb_checkpoints

# pyenv
Mask_RCNN/.python-version

# dotenv
Mask_RCNN/.env

# virtualenv
Mask_RCNN/.venv
Mask_RCNN/venv/
Mask_RCNN/ENV/

Mask_RCNN/mrcnn/__pycache__/
Mask_RCNN/samples/coco/__pycache__/
Mask_RCNN/samples/.ipynb_checkpoints/